page-login {
    .login-form .txtsignin {
        background: azure !important;
        opacity: 0.7;
    }

    .login-form .list-md {
        border: 1px solid;
        border-radius: 8px;
    }
    .login-form .input-cover {
        border: 1px solid;
    }
    .login-form .input-md {
        border-left: 1px solid;
    }
    .login-form .txtsignin .lblpass {
        margin-left: 2px;
    }
    .login-form {
        height: 75%;
    }
    .col {
        margin-top: 10% ;
        height: 100%;
    }
    @media(min-width:600px) {
        .facebook-button {
            margin-top: 5%;
            width: 48%;
            height: 22%;
            font-size: 133%;
        }
        .login-form {
            height: 100%;
        }
        .singup-button {
            font-size: 174%;
        }
        .login-button {
            font-size: 174%;
        }
    }
    .version {
        top: 0px;
        position: absolute;
        text-align: center;
        width: 100%;
    }
    .facebook-button {
        width: 250px;
        height: 45px;
        background: #125EB3;
        color: #fff;
        border-radius: 6px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 3px;
        margin-top: 15px;
        font-size: 90%;
        font-weight: bold
    }
    .forgotPass {
        margin-top: 9%;
        text-align: center;
        font-size: 116%;
        color: #fff;
    }
    .txtComCode {
        margin-top: 8px;
        border: 1px solid !important;
        border-radius: 8px !important;
        padding-left: 5px !important;
    }
    .login-button {
        width: 44%;
        height: 22%;
        background: #fe8302 !important;
        border-radius: 6px;
        margin-right: 5%;
        float: right;
        color: #fff;
        font-size: 110%;
        font-weight: bold
    }
   
    .singup-button {
        width: 44%;
        height: 22%;
        background: #60c322 !important ;
        border-radius: 6px;
        margin-left: 5%;
        float: left;
        color: #fff;
        font-size: 110%;
        font-weight: bold
    }
    .icon_company {
        width: 100%;
    }
    ion-select {
        max-width: 100%;
    }
    .label-md {
        margin: 0 !important;
    }
}