page-enterphone {
    h3{
        text-align: center
    }
    .txtPhone{
        width: 90%;
        border: 1px solid #387ef5;
        border-radius: 5px;
        margin: 2% 4%;
        padding-left:7%; 
    }
    ion-select{
        max-width: 100%;
    }
    .txtComCode{
        width: 90%;        
        border: 1px solid #387ef5;
        border-radius: 5px;
        margin: 0 4%;
    }
    .btn_login{
        margin: 5% 30%;
        height: 8%;
        width: 40%;
        font-size: 130%;
        font-weight: bold;
    }
    .icon_company{
        width: 100%;
        margin-right: 8%;
    }
}
