page-uploadavatar {
    .btn {
        background-color: #387ef5;
    }
    .button.back-button.disable-hover.bar-button.bar-button-md.back-button-md.bar-button-default.bar-button-default-md {
        color: black !important;
    }
    .toolbar-title {
        color: #000 !important;
    }
    .back-button.show-back-button {
        color: #0A0A0A;
    }
}