page-detail-order {
    .col_left {
        width: 30%;
        float: left;
        padding: 4% 0;
        font-weight: bold;
    }
    .col_right {
        width: 70%;
        float: left;
        padding: 4% 0;
        border-bottom: 1px dotted;
    }
}